@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

#hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#logo-text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: black;
    font-size: 4rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

#logo-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(115, 170, 225, 0.5);
    z-index: -1;
    border-radius: 10px;
}

#logo-text p {
    font-size: 1.5rem;
}

/* headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    position: absolute;
    /* Position the logo element */
    top: 50%;
    /* Move it 50% down from the top */
    left: 50%;
    /* Move it 50% from the left */
    transform: translate(-50%, -50%);
    /* Center the element precisely */
    font-size: 6rem;
    /* Adjust the font size as needed */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    /* Span the full width of the page */
    text-align: center;
    /* Center the text horizontally */
    z-index: 2;
    /* Set a higher z-index value */
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 1;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
    /* Display the menu items in a horizontal line */
    margin: 0 10px;
    /* Add some horizontal margin between the menu items */
    font-weight: bold;
    /* Make the menu items appear more bold */
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image */

#hero-image {
    height: 900px;
    width: 100%;
    background: url('../images/hero.webp') no-repeat center center;
    /* using this as had an issue with the image being distorted */
    background-size: cover;
    position: relative;
}


/* sign up page css */

.signup-section {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    /* Set a background color for the form section */
}

.signup-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#signup-form {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
}

input[type="text"],
input[type="email"],
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #252525;
    /* Add a border to form inputs */
    border-radius: 4px;
    /* Add border radius for a more rounded look */
}

button[type="submit"] {
    background-color: #252525;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #3a3a3a;
}

#video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

video {
    max-width: 100%;
    height: auto;
}

/* footer styling */
footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    color: #999;
}

.follow-us {
    margin-bottom: 10px;
}

.social-networks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-networks li {
    margin: 0 5px;
}

.social-networks a {
    color: #999;
    font-size: 20px;
}

.social-networks a:hover {
    color: #333;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}