@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: cadetblue;
}

#hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#logo-text {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

#logo-text::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(115, 170, 225, 0.5);
    z-index: -1;
    border-radius: 10px;
}

#logo-text p {
    font-size: 1.5rem;
}

/* headings and logo */

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    position: absolute;
    /* Position the logo element */
    top: 50%;
    /* Move it 50% down from the top */
    left: 50%;
    /* Move it 50% from the left */
    transform: translate(-50%, -50%);
    /* Center the element precisely */
    font-size: 6rem;
    /* Adjust the font size as needed */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    /* Span the full width of the page */
    text-align: center;
    /* Center the text horizontally */
    z-index: 2;
    /* Set a higher z-index value */
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    text-align: center;
    position: fixed;
    /* adding space to stop overlapping */
    top: -15px;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #fff;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    display: inline-block;
    /* Display the menu items in a horizontal line */
    margin: 0 10px;
    /* Add some horizontal margin between the menu items */
    font-weight: bold;
    /* Make the menu items appear more bold */
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* hero image */

#hero-image {
    height: 900px;
    width: 100%;
    background: url('../images/hero.webp') no-repeat center center;
    /* using this as had an issue with the image being distorted */
    background-size: cover;
    position: relative;
}


.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 400px;
    margin: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

/* sign up page css */



.form-section {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100%;
    width: 100%;
    background: url('../images/waterbg.webp') no-repeat center center;
    /* using this as had an issue with the image being distorted */
    background-size: cover;
    position: relative;
}



.form-container {
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container fieldset {
    margin-bottom: 20px;
}

.form-container legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
}

.form-container label span {
    display: inline-block;
    width: 100px;
}

.form-container input,
.form-container select,
.form-container textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container input[type="submit"] {
    background-color: #5082aa;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

label.checkbox-label {
    display: inline-block;
    align-items: center;
}

label.checkbox-label input[type="checkbox"] {
    margin-right: 50px;
    display: inline-block;
    vertical-align: middle;
}


#video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

video {
    max-width: 100%;
    height: auto;
}

/* community gallery style */

.community-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px;
    font-size: large;
    color: white;
}

.gallery-container {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 50px;

}

.gallery-item {
    margin: 5px;
}

/* footer styling */
footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    color: #999;
}

.follow-us {
    margin-bottom: 10px;
}

.social-networks {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.social-networks li {
    margin: 0 5px;
}

.social-networks a {
    color: #999;
    font-size: 20px;
}

.social-networks a:hover {
    color: #333;
}

footer p {
    margin-top: 10px;
    font-size: 14px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    width: 400px;
    margin: 20px;
}

.gallery-item img {
    width: 100%;
    height: auto;
}

/* Adjustments for small screens */

@media (max-width: 70.08px) {

    h1,
    p {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    #logo {
        font-size: 24px;
    }

    #logo-text p {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .form-section {
        margin-top: 100px;
    }

    .community-section {
        padding: 40px;
    }

    /* Reduce the font-size of .community-section h1 */
    .community-section h1 {
        font-size: 18px;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

/* Adjustments for medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
    #logo {
        font-size: 32px;
    }

    #logo-text p {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

/* Adjustments for larger screens */
@media (min-width: 1025px) {
    #logo {
        font-size: 48px;
    }

    #logo-text p {
        font-size: 20px;
        margin-bottom: 20px;
    }
}

/* Adjustments for small screens */
@media (max-width: 600px) {
    .form-section {
        padding: 10px;
    }

    .form-container {
        max-width: 300px;
        margin: 0 auto;
    }

    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container select,
    .form-container textarea {
        width: 100%;
    }
}

/* Adjustments for medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
    .form-section {
        padding: 20px;
    }

    .form-container {
        max-width: 500px;
        margin: 0 auto;
    }

    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container select,
    .form-container textarea {
        width: 100%;
    }
}

/* Adjustments for larger screens */
@media (min-width: 1025px) {
    .form-section {
        padding: 30px;
    }

    .form-container {
        max-width: 700px;
        margin: 0 auto;
    }

    .form-container input[type="text"],
    .form-container input[type="email"],
    .form-container select,
    .form-container textarea {
        width: 100%;
    }
}

/* Adjustments for small screens */
@media (max-width: 600px) {
    .community-section {
        padding: 60px;
    }

    .community-section h1 {
        font-size: 20px;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }
}

/* Adjustments for medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
    .community-section {
        padding: 60px;
    }

    .community-section h1 {
        font-size: 24px;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }
}

/* Adjustments for larger screens */
@media (min-width: 1025px) {
    .community-section {
        padding: 60px;
    }

    .community-section h1 {
        font-size: 28px;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
    }
}